* , a:link, a:visited {
  color: white;
}

body {
  background-color: white;
  background-image: url("../images/background1.jpg");
}

.title {
  text-align: center;
  color: blue;
}

.center_align {
  text-align: center;
}

.info-container {
  border: 2px solid blue;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 2vh;
  min-height: 30vh;
  text-align: center;
  text-overflow: ellipsis;
  background-color: rgba(256, 256, 256, 0.4);
  z-index: 1;
}

.tall {
  height: 63vh;
}

table {
  margin-top: 2vh;
}

table, th, td {
  text-align: center;
  padding: 3px;
  border: 1px solid blue;
}

.select-graph {
  margin-top: 2vh;
}

#graph-selector {
  border: 2px solid blue;
  border-radius: 5px;
  padding: 10px;
  min-height: 0vh;
}

#graph-selector > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#graph-selector > ul > li {
  border: 1px solid blue;
  border-radius: 3px;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  height: 4vh;
  text-align: center;
  background-color: rgba(256, 256, 256, 0.0);
}

#graph-container {
  border: 2px solid blue;
  border-radius: 5px;
  padding: 10px;
  min-height: 50vh;
}

#settings {
  position: absolute;
  top: 16px;
  right: 16px;
  height: 32px;
  width: 32px;
}

#settings:hover {
  cursor: pointer;
}

.modal-content {
  border: 1px solid blue;
}

.modal-dialog {
  top: 25%;
}

input {
  width: 75%;
}

.modal button {
  border: 1px solid blue;
  border-radius: 3px;
  text-align: center;
  background-color: white;
}