@()
@layouts.html.main("Burstcoin mining pool"){
  <link rel="stylesheet" href="stylesheets/dashboard.css">
}{
  <div class="row">
    <div class="col-xs-12">
      <h1 class="title">Burstcoin mining pool</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="info-container medium">
        <table align="center">
          <tr>
            <th>Pool NQT Earned</th>
            <th>Last Submit time</th>
            <th># Active users</th>
            <th># Total users</th>
            <th># Banned Addresses</th>
            <th>Server Uptime (ms)</th>
          </tr>
          <tr>
            <td>{{stats.NQTEarned}}</td>
            <td>{{stats.lastSubmitTime}}</td>
            <td>{{stats.activeUsers}}</td>
            <td>{{stats.totalUsers}}</td>
            <td>{{stats.bannedAddresses}}</td>
            <td>{{stats.serverUptime}}</td>
          </tr>
        </table>
        <table align="center">
          <tr>
            <th>Last Block ID</th>
            <th>Last Block Generator Address</th>
            <th>Last Block Mined at</th>
            <th>Last Block reward (BURST)</th>
            <th>Last Block Fees (NQT)</th>
            <th>Last Block Winning nonce</th>
          </tr>
          <tr>
            <td>{{lastBlock.block}}</td>
            <td>{{lastBlock.generatorRS}}</td>
            <td>{{lastBlock.timestamp}}</td>
            <td>{{lastBlock.blockReward}}</td>
            <td>{{lastBlock.totalFeeNQT}}</td>
            <td>{{lastBlock.nonce}}</td>
          </tr>
        </table>

      </div>
    </div>
  </div>
  <div class="main-panels row">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="info-container medium">
        <strong>Mining Info</strong>
        <table align="center">
          <tr>
            <td>Generation Signature</td>
            <td>{{miningInfo.generationSignature}}</td>
          </tr>
          <tr>
            <td>Base Target</td>
            <td>{{miningInfo.baseTarget}}</td>
          </tr>
          <tr>
            <td>Blockchain height</td>
            <td>{{miningInfo.height}}</td>
          </tr>
        </table>
      </div>
      <div class="info-container medium">
        <table align="center">
          <tr>
            <th></th>
            <th>Pending Payment</th>
            <th>Earned Payment</th>
          </tr>
          <tr>
            <td><img src="images/burstcoin.png" alt="BURST"/></td>
            <td>{{pendingBURST}}</td>
            <td>{{earnedBURST}}</td>
          </tr>
          <tr>
            <td><img src="images/dollar.png" alt="USD"/></td>
            <td>{{pendingUSD}}</td>
            <td>{{earnedUSD}}</td>
          </tr>
          <tr>
            <td><img src="images/bitcoin.png" alt="BTC"/></td>
            <td>{{pendingBTC}}</td>
            <td>{{earnedBTC}}</td>
          </tr>
        </table>
        <br>
        <span>1 <img src="images/burstcoin.png" alt="BURST"/>
         = ${{price_usd}} <img src="images/dollar.png" alt="USD"/></span>
        <br>
        <span>1 <img src="images/burstcoin.png" alt="BURST"/>
         = {{price_btc}} <img src="images/bitcoin.png" alt="BTC"/></span>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="info-container tall">
        <strong>Current Block Shares</strong>
        <div id="currentShares"></div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="info-container tall">
        <strong>Historic Block Shares</strong>
        <div id="historicShares"></div>
      </div>
    </div>
  </div>
  <div class="select-graph row">
    <div class="col-md-2 col-sm-4 col-xs-12">
      <div class="info-container medium" id="graph-selector">
        <ul>
          <li><a href="#!">Pool Active users</a></li>
          <li><a href="#!burstEarned">BURST earned</a></li>
          <li><a href="#!poolMemory">Reported Pool Memory</a></li>
          <li><a href="#!poolEarned">Pool BURST earned</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-10 col-sm-8 col-xs-12">
      <div class="info-container medium" id="graph-container" ng-view>
      </div>
    </div>  
  </div>
  <img src="images/settings.png" alt="Settings"
    onclick="openSettings()" id="settings"/>
  <div class="modal" id="settings-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h3> Pool Information </h3>
          <ul>
            <li>
              Miners should submit nonces to port 8124. This pool also
              supports the getMiningInfo and getBlock API call on the same port.
              The pool also supports a getPoolInfo API call to get information
              on the pool's account ID and share amounts
            </li>
            <li>
              To mine here you need to set your "reward recipient" to
              {{poolInfo.rewardRecipient}}. This costs 1 BURST and you need to 
              wait 4 blocks before it takes effect. Attempting to submit bad
              nonces to the network or submitting nonces without the proper
              reward recipient will result in a temporary network ban of
              {{poolInfo.banTime}} minutes.
            </li>
            <li>
              Transaction fees are included in the rewards shared to miners.
              When the pool wins a block, {{poolInfo.poolFee}}% is deducted from
              the block reward for pool usage fees. Of the remaining reward, 
              {{poolInfo.currentShare}}% is shared over miners who submitted 
              nonces for the current block. For the current block, a miner's 
              share of the reward is inversely proportional to the deadline. The
              other {{poolInfo.historicShare}}% is shared over miners who 
              submitted nonces for the previous {{poolInfo.historicBlocks}} 
              blocks. These "historic" shares are simply the average of 
              "current" shares over the previous {{poolInfo.historicBlocks}} 
              blocks.
            </li>
            <li>
              Miner payouts are calculated every {{poolInfo.paymentTime}} days.
              to be sent to the BURST network. Pending payouts mean that the
              transaction will occur at the next pay step. If there is not
              enough pending payment to cover the transaction fee, the
              transaction will saved until the next pay period. Confirmed 
              payouts are listed as Paid. The remaining BURST in the pool's 
              account is periodically sent to the pool's fee acount.
            </li>
          </ul>
          <h4 class="center_align">
            Enter your BURST nickname/address to view information
          </h4>
          <div class="center_align">
            <form novalidate>
              <input type="text" placeholder="BURST address/nickname"/>
            </form>
            <button href="#" data-dismiss="modal">Close</button>
            <button href="#">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="scripts/modal.js"></script>
  <script src="scripts/routes.js"></script>
  <script src="scripts/burstInfo.js"></script>
} 