@(title: String)(imports: Html)(body: Html)
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" 
    href="images/favicon_GH5_icon.ico"/>
    <script 
    src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
    </script>
    <script 
    src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js">
    </script>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"
     data-semver="2.0.3" data-require="jquery"></script>
    <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="http://getbootstrap.com/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
    @imports
    <title>@title</title>
  </head>
  <body class="container-fluid" ng-app="burstPool" ng-controller="InfoCtrl">
    @body
  </body>
</html>